Servidor_XMP_SOAP/servidor/valida_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://validator.example.com/"
           xmlns="http://validator.example.com/"
           elementFormDefault="qualified">

  <xs:element name="valida_cpf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cpf" type="cpf"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="valida_cnpj">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cnpj" type="cnpj"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="cpf">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{11}|[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cnpj">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{14}|[0-9]{2}\.[0-9]{3}\.[0-9]{3}/[0-9]{4}-[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
